/* Grid Framework */
.ez-columns {
  clear: both;
}
.ez-columns::after {
  content: '';
  display: table;
  clear: both;
}
.ez-columns [class^='ez-col-'],
.ez-columns [class*=' ez-col-'] {
  float: left;
}
/* Responsive */
.ez-columns .ez-col-res-0 { width: 0; }
.ez-columns .ez-col-res-10 { width: 10%; }
.ez-columns .ez-col-res-20 { width: 20%; }
.ez-columns .ez-col-res-30 { width: 30%; }
.ez-columns .ez-col-res-40 { width: 40%; }
.ez-columns .ez-col-res-50 { width: 50%; }
.ez-columns .ez-col-res-60 { width: 60%; }
.ez-columns .ez-col-res-70 { width: 70%; }
.ez-columns .ez-col-res-80 { width: 80%; }
.ez-columns .ez-col-res-90 { width: 90%; }
.ez-columns .ez-col-res-100 { width: 100%; }
.ez-columns .ez-col-res-33 { width: 33.3%; }
/* Fill */
.ez-columns [class*='-fill-200'] { width: calc(100% - 200px); }
.ez-columns [class*='-fill-250'] { width: calc(100% - 250px); }
.ez-columns [class*='-fill-300'] { width: calc(100% - 300px); }
.ez-columns [class*='-fill-350'] { width: calc(100% - 350px); }
.ez-columns [class*='-fill-400'] { width: calc(100% - 400px); }
.ez-columns [class*='-fill-450'] { width: calc(100% - 450px); }
.ez-columns [class*='-fill-500'] { width: calc(100% - 500px); }
.ez-columns [class*='-fill-550'] { width: calc(100% - 550px); }
.ez-columns [class*='-fill-600'] { width: calc(100% - 600px); }
/* Set */
.ez-columns .ez-col-set-200 { width: calc(200px); }
.ez-columns .ez-col-set-250 { width: calc(250px); }
.ez-columns .ez-col-set-300 { width: calc(300px); }
.ez-columns .ez-col-set-350 { width: calc(350px); }
.ez-columns .ez-col-set-400 { width: calc(400px); }
.ez-columns .ez-col-set-450 { width: calc(450px); }
.ez-columns .ez-col-set-500 { width: calc(500px); }
.ez-columns .ez-col-set-550 { width: calc(550px); }
.ez-columns .ez-col-set-600 { width: calc(600px); }
/* Padding Right */
.ez-columns .ez-pad-right-0 { padding-right: 0; }
.ez-columns .ez-pad-right-10 { padding-right: 10px; }
.ez-columns .ez-pad-right-20 { padding-right: 20px; }
.ez-columns .ez-pad-right-30 { padding-right: 30px; }
.ez-columns .ez-pad-right-40 { padding-right: 40px; }
.ez-columns .ez-pad-right-50 { padding-right: 50px; }
.ez-columns .ez-pad-right-60 { padding-right: 60px; }
.ez-columns .ez-pad-right-70 { padding-right: 70px; }
.ez-columns .ez-pad-right-80 { padding-right: 80px; }
.ez-columns .ez-pad-right-90 { padding-right: 90px; }
.ez-columns .ez-pad-right-100 { padding-right: 100px; }
/* Padding Left */
.ez-columns .ez-pad-left-0 { padding-left: 0; }
.ez-columns .ez-pad-left-10 { padding-left: 10px; }
.ez-columns .ez-pad-left-20 { padding-left: 20px; }
.ez-columns .ez-pad-left-30 { padding-left: 30px; }
.ez-columns .ez-pad-left-40 { padding-left: 40px; }
.ez-columns .ez-pad-left-50 { padding-left: 50px; }
.ez-columns .ez-pad-left-60 { padding-left: 60px; }
.ez-columns .ez-pad-left-70 { padding-left: 70px; }
.ez-columns .ez-pad-left-80 { padding-left: 80px; }
.ez-columns .ez-pad-left-90 { padding-left: 90px; }
.ez-columns .ez-pad-left-100 { padding-left: 100px; }

/* Small Devices, Tablets */
@media only screen and (max-width: 480px) {
  .ez-columns [class^='ez-col-'],
  .ez-columns [class*=' ez-col-'] {
    float: none;
    width: 100%;
  }
}
