/* Template Styles */

/* Header */
.jh-page-template-subpage .jh-header-container {
  position: relative;
  background-color: #f2f4f8;
  background-size: cover;
  background-position: center center;
  height: 250px;
}
.jh-page-template-subpage--urgent-care .jh-header-container {
  background-image: url('/images/ThinkstockPhotos-639811460.jpg');
  background-position: bottom center;
}
.jh-page-template-subpage--rehab .jh-header-container {
  background-image: url('/images/ThinkstockPhotos-539349092.jpg');
  background-position: bottom center;
}
.jh-page-template-subpage--hospitals .jh-header-container {
  background-image: url('/images/ThinkstockPhotos-842459670.jpg');
  background-position: center center;
}
.jh-page-template-subpage--physician-search .jh-header-container {
  background-image: url('/images/ThinkstockPhotos-649541722.jpg');
  background-position: bottom -220px center;
}
.jh-page-template-subpage .jh-header-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,40,.5);
  z-index: 0;
}
/*.jh-page-template-subpage .jh-header-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
  z-index: 1;
}*/
.jh-page-template-subpage .jh-header {
  position: relative;
  z-index: 2;
}
.jh-page-template-subpage .jh-header {
  padding-top: 90px;
}
/* Banner */
.jh-page-template-subpage .jh-banner {
}
.jh-page-template-subpage .jh-title h1 {
  font-size: 40px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}
/* Main Intro */
.jh-page-template-subpage .jh-main-intro h3 {
  font-size: 21px;
  color: #569bca;
}
/* Locations */
.jh-page-template-subpage .jh-locations {
  max-width: 1200px;
  margin: 0 auto;
}
.jh-page-template-subpage .jh-locations__inner {
  /*padding: 20px;*/
}

/* Locations Search */
.jh-page-template-subpage .jh-locations-list__search {
  padding: 20px;
}
.jh-page-template-subpage .jh-locations-list__search::after {
  content: '';
  display: table;
  clear: both;
}
.jh-page-template-subpage .jh-locations-list__search input {
  height: 40px;
  width: 100%;
  font-size: 18px;
  margin: 0 20px 0 0;
  padding: 0 0 0 10px;
}
.jh-page-template-subpage .jh-locations-list__search button {
  height: 30px;
  padding: 0 20px;
  margin: 0;
  background-color: #ccc;
  border: 0;
  border-radius: 0;
  color: #fff;
}
.jh-page-template-subpage .jh-locations-list__search button:hover {
  background-color: #eee;
}
.jh-page-template-subpage .jh-locations-list__search button.asc {
  background-color: #569bca;
}
.jh-page-template-subpage .jh-locations-list__search button.is-active {
  background-color: #569bca;
}

/* Locations List */
.jh-page-template-subpage .jh-locations-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.jh-page-template-subpage .jh-locations-list::after {
  content: '';
  display: table;
  clear: both;
}
.jh-page-template-subpage .jh-locations-list__item {
  /*margin: 10px 0px;*/
  border-bottom: 1px solid #ccc;
}
.jh-page-template-subpage .jh-locations__pagination {
  text-align: center;
}

/* Location Card */
.jh-page-template-subpage [class^="jh-location-card"] {
  box-sizing: border-box;
}
.jh-page-template-subpage .jh-location-card {
  width: 100%;
  background-color: #fff;
}
.jh-page-template-subpage .jh-location-card:hover {
  /*box-shadow: 2px 2px 2px rgba(0,0,0,.2);*/
}
.jh-page-template-subpage .jh-location-card__inner {
  padding: 20px;
}
.jh-page-template-subpage .jh-location-card__title  {
  margin: 10px 0;
}
.jh-page-template-subpage .jh-location-card__title h4 {
  margin: 0;
  line-height: 1.4em;
  font-size: 21px;
  color: #152456;
  font-weight: bold;
}
.jh-page-template-subpage .jh-location-card__category {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: .1em;
  font-weight: bold;
  text-align: center;
  color: #999;
  display: none;
}
.jh-page-template-subpage .jh-location-card__address {
  font-size: 18px;
  font-weight: bold;
}
.jh-page-template-subpage .jh-location-card__phone span {
  display: block;
}

/* Bootstrap - Pagination */
.jh-page-template-subpage .jh-locations .pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.jh-page-template-subpage .jh-locations .pagination > li {
  display: inline;
}
.jh-page-template-subpage .jh-locations .pagination > li > a,
.jh-page-template-subpage .jh-locations .pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #569bca;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}
.jh-page-template-subpage .jh-locations .pagination > li:first-child > a,
.jh-page-template-subpage .jh-locations .pagination > li:first-child > span {
  margin-left: 0;
  border-radius: 0;
  /*border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;*/
}
.jh-page-template-subpage .jh-locations .pagination > li:last-child > a,
.jh-page-template-subpage .jh-locations .pagination > li:last-child > span {
  border-radius: 0;
  /*border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;*/
}
.jh-page-template-subpage .jh-locations .pagination > li > a:hover,
.jh-page-template-subpage .jh-locations .pagination > li > span:hover,
.jh-page-template-subpage .jh-locations .pagination > li > a:focus,
.jh-page-template-subpage .jh-locations .pagination > li > span:focus {
  z-index: 2;
  color: #23527c;
  background-color: #eeeeee;
  border-color: #ddd;
}
.jh-page-template-subpage .jh-locations .pagination > .active > a,
.jh-page-template-subpage .jh-locations .pagination > .active > span,
.jh-page-template-subpage .jh-locations .pagination > .active > a:hover,
.jh-page-template-subpage .jh-locations .pagination > .active > span:hover,
.jh-page-template-subpage .jh-locations .pagination > .active > a:focus,
.jh-page-template-subpage .jh-locations .pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  background-color: #569bca;
  border-color: #569bca;
  cursor: default;
}
.jh-page-template-subpage .jh-locations .pagination > .disabled > span,
.jh-page-template-subpage .jh-locations .pagination > .disabled > span:hover,
.jh-page-template-subpage .jh-locations .pagination > .disabled > span:focus,
.jh-page-template-subpage .jh-locations .pagination > .disabled > a,
.jh-page-template-subpage .jh-locations .pagination > .disabled > a:hover,
.jh-page-template-subpage .jh-locations .pagination > .disabled > a:focus {
  color: #777777;
  background-color: #fff;
  border-color: #ddd;
  cursor: not-allowed;
}
.jh-page-template-subpage .jh-locations .pagination-lg > li > a,
.jh-page-template-subpage .jh-locations .pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.jh-page-template-subpage .jh-locations .pagination-lg > li:first-child > a,
.jh-page-template-subpage .jh-locations .pagination-lg > li:first-child > span {
  border-radius: 0;
  /*border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;*/
}
.jh-page-template-subpage .jh-locations .pagination-lg > li:last-child > a,
.jh-page-template-subpage .jh-locations .pagination-lg > li:last-child > span {
  border-radius: 0;
  /*border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;*/
}
.jh-page-template-subpage .jh-locations .pagination-sm > li > a,
.jh-page-template-subpage .jh-locations .pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.jh-page-template-subpage .jh-locations .pagination-sm > li:first-child > a,
.jh-page-template-subpage .jh-locations .pagination-sm > li:first-child > span {
  border-radius: 0;
  /*border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;*/
}
.jh-page-template-subpage .jh-locations .pagination-sm > li:last-child > a,
.jh-page-template-subpage .jh-locations .pagination-sm > li:last-child > span {
  border-radius: 0;
  /*border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;*/
}
/* Locations Map */
#map {
  height: 100%;
  width: 100%;
  background-color: gray;
}
.jh-page-template-subpage  .jh-locations__map {
  position: relative;
  width: 100%;
  height: 600px;
  /*border: 1px solid #f2f4f8;*/
  overflow: hidden;
  z-index: 0;
}
@media only screen and (max-width: 480px) {
  .jh-locations__map{
    height: 250px;
  }
}
/* Map Section */
.jh-map-container {
  background-color: #fff;
}
.jh-map {
  max-width: 1200px;
  margin: 0 auto;
}
.jh-map__inner {
  /*padding: 20px;*/
}
.jh-map-component {
  width: 100%;
  height: 400px;
  background-color: #ccc;
}
/*
* Locations Menu
*/
.jh-locations-menu {
  margin-top: 30px;
  height: 550px;
  background-color: #f2f4f8;
}
@media only screen and (max-width: 480px) {
  .jh-locations-menu {
    margin-top: 0;
    height: 300px;
  }
}
.jh-locations-menu__tab {
  height: 50px;
}
.jh-locations-menu__tab > h3 {
  position: relative;
  line-height: 49px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: .15em;
  text-transform: uppercase;
  background-color: #152456;
  color: #fff;
  margin: 0;
  padding: 0 0 0 50px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
.jh-locations-menu__tab > h3::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  box-sizing: border-box;
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  border: 6px solid #569bca;
  padding: 0;
}
.jh-locations-menu__tab > h3::after {
  content: '';
  position: absolute;
  top: 45%;
  right: 15px;
  transform: translateY(-50%) rotate(45deg);
  box-sizing: border-box;
  display: inline-block;
  height: 10px;
  width: 10px;
  border: solid #569bca;
  border-width: 0 3px 3px 0;
  display: inline-block;
}
.jh-locations-menu__tab > h3:hover {
  background-color: #000222;
  color: #569bca;
}
.jh-locations-menu__tab.is-expanded > h3 {
  line-height: 50px;
  border: 0;
}
.jh-locations-menu__content.is-expanded {
  /*display: block;*/
  max-height: 450px;
}
.jh-locations-menu__content.is-collapsed {
  max-height: 0px;
  border-width: 0 1px;
  /*display: none;*/
}
.jh-locations-menu__tab.is-expanded > h3::after {
  opacity: 0.2;
}
.jh-locations-menu__panel.hospitals-menu .jh-locations-menu__tab > h3::before {
  border-color: #4a7ab8;
}
.jh-locations-menu__panel.outpatient-menu .jh-locations-menu__tab > h3::before {
  border-color: #ab2d8b;
}
.jh-locations-menu__panel.urgentcare-menu .jh-locations-menu__tab > h3::before {
  border-color: #f8ad40;
}
.jh-locations-menu__content {
  height: 450px;
  padding: 0;
  border: 1px solid #999;
  overflow: hidden;
  background-color: #fff;
  transition: ease-out 0.4s;
}
@media only screen and (max-width: 480px) {
  .jh-locations-menu__content {
    height: 150px;
  }
}
.jh-locations-menu__info {
  position: relative;
  height: 125px;
  background-color: #f2f4f8;
  padding: 15px;
  font-size: 15px;
}
@media only screen and (max-width: 480px) {
  .jh-locations-menu__info {
    display: none;
  }
}
.jh-locations-menu__list-heading {
  position: absolute;
  left: 15px;
  bottom: 10px;
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
}
.jh-locations-menu__list-wrapper {
  overflow-y: scroll;
  height: 325px;
}
@media only screen and (max-width: 480px) {
  .jh-locations-menu__list-wrapper {
    height: 150px;
  }
}
.jh-locations-menu__list {
  list-style-type: none;
  margin: 0;
  padding: 0 20px;
}
.jh-locations-menu__list li {
  position: relative;
  font-size: 16px;
  font-weight: bold;
  color: #569bca;
  margin: 0;
  padding: 1em 0 1em 0;
  border-bottom: 1px solid #f2f4f8;
  overflow: hidden;
}
.jh-locations-menu__list li:last-of-type {
  margin: 0;
  border: 0;
}
.jh-locations-menu__list li a {
  color: #569bca;
  text-decoration: none;
}
@media only screen and (max-width: 480px) {
  .jh-locations-menu__list {
    padding: 0 15px;
  }
}

/* Main Callout */
.jh-main-callout-box {
  border-width: 2px 0px;
  border-color: #f2f4f8;
  border-style: solid;
  margin: 60px 0;
}
.jh-main-callout-box__inner {
  padding: 30px;
}
.jh-main-callout-box__title {
  font-size: 26px;
  font-style: normal;
  text-align: center;
  margin: 0 0 20px 0;
  color: #569bca;
}
.jh-main-callout-box__content {
  text-align: center;
}

/* Sidebar Callout */
.jh-callout-box {
  background-color: #f2f4f8;
  margin-bottom: 20px;
}
.jh-callout-box:last-of-type {
  margin-bottom: 0;
}
.jh-callout-box__inner {
  padding: 30px;
}
.jh-callout-box__title {
  font-size: 21px;
  text-align: center;
  margin: 0 0 20px 0;
  color: #569bca;
}
.jh-page-template-subpage--rehab .jh-callout-box__list li {
  font-size: 16px;
}
.jh-callout-box__list {
  list-style-type: none;
}
.jh-callout-box__list li {
  position: relative;
  margin: .8em 0;
  font-weight: normal;
  font-size: 18px;
}
.jh-callout-box__list li::before {
  content: '';
  position: absolute;
  display: block;
  height: 6px;
  width: 6px;
  background-color: #569bca;
  top: 10px;
  left: -20px;
}
.jh-main__inner::after {
  content: '';
  display: table;
  clear: both;
}
.jh-main-container--locations {
  background-color: #f2f4f8 !important;
  padding: 30px 0;
  margin: 40px 0 0 0;
}
.jh-locations-list-window {
  overflow-y: scroll;
  width: 100%;
  height: 450px;
  background-color: #fff;
}
.jh-locations-list__options {
  padding: 10px 0;
}
