/* Stats Box */
[class^="stat-box"] * {
  box-sizing: border-box;
}
.stat-box-container {
  position: relative;
  width: 16.66%;
  float: left;
  padding: 0;
  z-index: 0;
  border-right: 2px solid #fff;
  overflow: hidden;
}
.stat-box-container a {
  text-decoration: none;
}
.stat-box-container:first-of-type {
  border-left: 2px solid #fff;
}
@media (max-width: 768px) {
  .stat-box-container {
    width: 33.3%;
    margin-top: 0px;
    border-bottom: 2px solid #fff;
  }
}
@media (max-width: 480px) {
  .stat-box-container {
    width: 50%;
  }
}
.stat-box {
  position: relative;
  top: 0;
  z-index: 1;
  height: 300px;
  transition: ease-in .15s;
}
.stat-box__inner {
  padding: 60px 20px;
}
@media (min-width: 1200px) {
  .is-active .stat-box {
    top: -100px;
    transition: ease-in .15s;
  }
  .is-active .stat-box .stat-box__icon {
    opacity: 0;
    transition: ease-in .15s;
  }
}
@media (max-width: 1200px) {
  .stat-box {
    height: 225px;
  }
  .stat-box__inner {
    padding: 20px 20px;
  }
}
@media (max-width: 768px) {
  .stat-box {
    height: 200px;
  }
}
.stat-box__icon {
  opacity: 1;
  text-align: center;
  transition: ease-in .3s;
}
.stat-box__icon img {
  width: 50px;
}
.stat-box__number {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  color: #152456;
}
.stat-box__title {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #569bca;
}
.stat-box-overlay {
  position: absolute;
  left: 0;
  width: calc(100%);
  height: calc(100% - 140px);
  z-index: 1;
  padding: 15px 20px 0 20px;
  transition: ease-in .15s;
  top: 100%;
  background-color: transparent;
}
@media (min-width: 1200px) {
  .is-active .stat-box-overlay {
    top: 140px;
  }
}
@media (max-width: 1200px) {
  .stat-box__icon img {
    width: 40px;
  }
}
.stat-box-overlay__inner {
  position: relative;
  height: 100%;
  padding: 0 0 0 0;
}
.stat-box-overlay__text {
  line-height: normal;
  margin: 0 !important;
  padding: 0;
  color: #152456;
  font-size: 14px;
}
.stat-box-overlay__link,
.stat-box__link {
  position: absolute;
  bottom: 10px;
  left: 50%;
  display: block;
  padding: 5px 10px;
  transform: translateX(-50%);
  color: #013fa3;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: .2em;
  opacity: 1;
}
.stat-box__link {
  color: #bbb;
  transition: ease-in .15s;
}
.stat-box-overlay__link:hover,
.stat-box__link:hover {
  text-decoration: none;
}
@media (min-width: 1200px) {
  .is-active .stat-box__link {
    opacity: 0;
  }
}
@media (max-width: 1200px) {
  .stat-box__title {
    font-size: 14px;
  }
  .stat-box__number {
    font-size: 36px;
  }
  .stat-box-overlay {

  }
  .stat-box-overlay__text {
    display: none;
  }
}
