/* Header */
[class^="jh-header"] {
  box-sizing: border-box;
}
.jh-header-container {
  background-color: #f2f4f8;
}
.jh-header {
  max-width: 1200px;
  margin: 0 auto;
}
.jh-header__inner {
  padding: 20px;
}
/* Templates */
.page-template-index .jh-header-container {
  position: relative;
  background-color: #f2f4f8;
  min-height: 620px;
  background: rgb(240,249,255); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(240,249,255,1) 0%, rgba(203,235,255,1) 88%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(240,249,255,1) 0%,rgba(203,235,255,1) 88%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(240,249,255,1) 0%,rgba(203,235,255,1) 88%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#cbebff',GradientType=0 ); /* IE6-9 */
}
.page-template-index .jh-header-container::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 70%;
  height: 100%;
  z-index: 0;
  background: -moz-linear-gradient(left, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(255,255,255,0.9) 50%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255,255,255,0.9) 50%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
  z-index: 1;
}
.page-template-index .jh-header-container::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../where-you-are-bg.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  z-index: 0;
}
/* Move to page props */
.page-template-index .jh-header-container::after {
  background-position: right 100px top -10px;
  background-size: auto;
}
/* End move to page props */
.page-template-index .jh-header-content {
  position: relative;
  z-index: 1;
}
.page-template-index .jh-header-content__title {
  font-size: 60px;
  font-weight: bold;
  margin: 10px 0 35px 0;
  max-width: 500px;
  color: #152456;
  line-height: 1.1em;
}
.page-template-index .jh-header-content__title span {
  font-weight: 300;
}
.page-template-index .jh-header-content__text {
  font-size: 18px;
  margin: 20px 0;
  max-width: 500px;
  color: #152456;
}
.page-template-index .jh-header-content__locations {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: 600px;
}
.page-template-index .jh-header-content__locations::after {
  content: '';
  display: table;
  clear: both;
}
.page-template-index .jh-header-content__locations li {
  position: relative;
  float: left;
  margin: 0 0 0 8px;
  padding-left: 15px;
  /*border-right: 2px solid #ccc;*/
  text-transform: uppercase;
  color: #569bca;
  text-shadow: 1px 1px 1px #fff
}
.page-template-index .jh-header-content__locations li::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  display: block;
  height: 6px;
  width: 6px;
  border-radius: 3px;
  background-color: #ccc;
}
.page-template-index .jh-header-content__locations li:first-of-type {
  margin-left: 0;
  padding-left: 0;
}
.page-template-index .jh-header-content__locations li:first-of-type::after {
  display: none;
}
.page-template-index .jh-header-content__tagline {
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0 40px 0;
  color: #152456;
}
/* Move to page props */
@media (min-width: 1400px) {
  .page-template-index .jh-header-container::after {
    background-position: right 200px top -10px;
  }
}
@media (min-width: 1800px) {
  .page-template-index .jh-header-container::after {
    background-position: right 400px top -10px;
  }
}
/* End move to page props */
@media (max-width : 1200px) {

}
@media (max-width : 992px) {

}
@media (max-width : 768px) {
  .page-template-index .jh-header-container::before {
    background: rgba(255,255,255,.9);
    width: 100%;
  }
  .page-template-index .jh-header-container::after {
    background-position: right 100px top -150px;
  }
}
@media (max-width : 480px) {
  .page-template-index .jh-header-content__locations li {
    text-align: center;
  }
}

/* Search Box */
.jh-search-tabs-box {
  font-family: Lato, arial, sans-serif;
  max-width: 500px;
  position: relative;
  z-index: 1;
}
.jh-search-tabs-box * {
  box-sizing: border-box;
}
.jh-search-tabs-box__tabs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.jh-search-tabs-box__tabs::after {
  content: '';
  display: table;
  clear: both;
}
.jh-search-tabs-box__tabs li {
  float: left;
  display: block;
  padding: 0 20px;
  background-color: #fff;
  margin: 0 10px 0 0;
  height: 45px;
  margin-top: 5px;
  line-height: 45px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-bottom: 0px;
}
.jh-search-tabs-box__tabs li:hover {
  color: #569bca;
  line-height: 50px;
  margin-top: 0px;
  height: 50px;
  transition: ease .2s;
}
.jh-search-tabs-box__tabs li.is-active {
  height: 50px;
  margin-top: 0;
  background-color: #569bca;
  color: #fff;
  line-height: 50px;
  font-size: 17px;
  border: 0;
}
.jh-search-tabs-box__panel {
  background-color: #569bca;
  padding: 20px;
  display: none;
}
.jh-search-tabs-box__panel::after {
  content: '';
  display: table;
  clear: both;
}
.jh-search-tabs-box__panel.is-active {
  display: block;
}
.jh-search-tabs-box__panel .jh-search-input {
  width: calc(100% - 50px);
  height: 50px;
  font-size: 18px;
  padding: 0 0 0 10px;
  border: 0;
  float: left;
}
.jh-search-tabs-box__panel button {
  float: left;
  height: 50px;
  width: 50px;
  border: 0;
  border-radius: 0;
  background-color: #152456;
  color: #569bca;
}
@media (max-width : 480px) {
  .jh-search-tabs-box__tabs li {
    font-size: 12px;
    padding: 0 10px;
  }
  .jh-search-tabs-box__tabs li.is-active {
    font-size: 14px;
  }
}

/* Navbar Section */
.jh-navbar-container {
  background-color: #fff;
}
.jh-navbar {
  max-width: 1200px;
  margin: 0 auto;
}
.jh-navbar__inner {
  padding: 20px;
}

/* Main Section */
.jh-main-container {
  background-color: #fff;
}
.jh-main {
  max-width: 1200px;
  margin: 0 auto;
}
.jh-main__inner {
  padding: 0px;
}

/* Map Section */
.jh-map-container {
  background-color: #fff;
}
.jh-map {
  max-width: 1200px;
  margin: 0 auto;
}
.jh-map__inner {
  padding: 20px;
}
.jh-map-component {
  width: 100%;
  height: 400px;
  background-color: #ccc;
}

/* Locations */
.jh-locations {
  max-width: 1200px;
  margin: 0 auto;
}
.jh-locations__inner {
  padding: 20px;
}

/* Locations Search */
.jh-locations__search {
  margin: 20px 0;
}
.jh-locations__search input {
  height: 40px;
  width: 400px;
  font-size: 18px;
  margin: 0 20px 0 0;
  padding: 0 0 0 10px;
}
.jh-locations__search button {
  height: 30px;
  padding: 0 20px;
  margin: 0;
  background-color: #ccc;
  border: 0;
  border-radius: 0;
  color: #fff;
}
.jh-locations__search button:hover {
  background-color: #eee;
}
.jh-locations__search button.asc {
  background-color: #569bca;
}
.jh-locations__search button.is-active {
  background-color: #569bca;
}

/* Locations List */
.jh-locations-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.jh-locations-list::after {
  content: '';
  display: table;
  clear: both;
}
.jh-locations-list__item {
  float: left;
  margin: 10px 10px;
}
.jh-locations__pagination {
  text-align: center;
}

/* Location Card */
[class^="jh-location-card"] {
  box-sizing: border-box;
}
.jh-location-card {
  width: 270px;
  height: 400px;
  background-color: #eee;
}
.jh-location-card__inner {
  padding: 20px;
}
.jh-location-card__title  {
  margin: 20px 0;
  min-height: 50px;
}
.jh-location-card__title h4 {
  margin: 0;
  line-height: 1.4em;
}
.jh-location-card__category {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: .1em;
  font-weight: bold;
  text-align: center;
  color: #999;
}
.jh-location-card__address {
  font-size: 16px;
  font-weight: bold;
}
.jh-location-card__phone span {
  display: block;
}

/* Bootstrap */
.jh-locations .pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.jh-locations .pagination > li {
  display: inline;
}
.jh-locations .pagination > li > a,
.jh-locations .pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #569bca;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}
.jh-locations .pagination > li:first-child > a,
.jh-locations .pagination > li:first-child > span {
  margin-left: 0;
  border-radius: 0;
  /*border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;*/
}
.jh-locations .pagination > li:last-child > a,
.jh-locations .pagination > li:last-child > span {
  border-radius: 0;
  /*border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;*/
}
.jh-locations .pagination > li > a:hover,
.jh-locations .pagination > li > span:hover,
.jh-locations .pagination > li > a:focus,
.jh-locations .pagination > li > span:focus {
  z-index: 2;
  color: #23527c;
  background-color: #eeeeee;
  border-color: #ddd;
}
.jh-locations .pagination > .active > a,
.jh-locations .pagination > .active > span,
.jh-locations .pagination > .active > a:hover,
.jh-locations .pagination > .active > span:hover,
.jh-locations .pagination > .active > a:focus,
.jh-locations .pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  background-color: #569bca;
  border-color: #569bca;
  cursor: default;
}
.jh-locations .pagination > .disabled > span,
.jh-locations .pagination > .disabled > span:hover,
.jh-locations .pagination > .disabled > span:focus,
.jh-locations .pagination > .disabled > a,
.jh-locations .pagination > .disabled > a:hover,
.jh-locations .pagination > .disabled > a:focus {
  color: #777777;
  background-color: #fff;
  border-color: #ddd;
  cursor: not-allowed;
}
.jh-locations .pagination-lg > li > a,
.jh-locations .pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.jh-locations .pagination-lg > li:first-child > a,
.jh-locations .pagination-lg > li:first-child > span {
  border-radius: 0;
  /*border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;*/
}
.jh-locations .pagination-lg > li:last-child > a,
.jh-locations .pagination-lg > li:last-child > span {
  border-radius: 0;
  /*border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;*/
}
.jh-locations .pagination-sm > li > a,
.jh-locations .pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.jh-locations .pagination-sm > li:first-child > a,
.jh-locations .pagination-sm > li:first-child > span {
  border-radius: 0;
  /*border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;*/
}
.jh-locations .pagination-sm > li:last-child > a,
.jh-locations .pagination-sm > li:last-child > span {
  border-radius: 0;
  /*border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;*/
}
